cffi==2.0.0
cryptography==46.0.3
numpy==2.3.4
mongodb==3.4.0
pandas==2.3.3
pip==24.0
pycparser==2.23
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
typing-extensions==4.15.0
tzdata==2025.2
uv==0.9.4
pandas==2.2.2